@white: #fff;
@black: #191919;
@grey-backdrop: rgba(230, 230, 230, 0.7);

body {
  background: url('background.gif') no-repeat;
}

.container {
  color: @black;
  background-color: @grey-backdrop;
  min-height: 700px;
  padding-bottom: 5%;
  margin-top: 5%;
}

header {
  .row {
    padding: 5%;
  }
  h3 {
    padding-left: 30px;
  }
}

#profile {
  border: 3px solid @black;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.info-menu {
  list-style-type: none;
  font-size: 20px;
  @media(min-width: 400px) {
    font-size: 30px;
  }
  li {
    cursor: pointer;
  }

  .menu-item {
    display: none;
    padding: 5% 0;
  }
  .menu-title {
    padding-left: 10px;
    transition: color 200ms ease-out;
    &:hover {
      color: lighten(@black, 30%);
    }
  }
}

h1 {
  font-size: 30px;
  @media(min-width: 400px) {
    font-size: 36px;
  }
}

h3 {
  font-size: 19px;
  @media(min-width: 400px) {
    font-size: 24px;
  }
}
